@import '../../../../styles/variables.scss';

.root {
	width: calc(100vw - $calendar-width);
	height: fit-content;
	display: flex;
	overflow-x: scroll;
	background-color: red;
}

.content {
	width: 5000px;
	height: 499px;
}
