// src/styles/variables.scss

$primary-color: #9d2135;

$header-height: 48px;

$text-grid: #707579;

$border-color: #f0f0f0;

$secondary-color: #6c757d;
$font-family: 'Arial, sans-serif';
$base-padding: 16px;
$base-margin: 16px;
$border-radius: 4px;

// Добавьте сюда другие переменные
